
.tab-heading{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: purple;
    color: #fff;
}

.tab-heading li{
    flex-grow: 1;
    padding: 10px;
    cursor: pointer;
}

.tab-heading li.active{
    background-color: pink;

}

.tab-cards .card{
    display: none;
}
.tab-cards .card.active {
    display: block;
}

